#**OPERATOR**

Operator simbol simbol yang dapat digunakan untuk mengubah nilai dari satu variabel dengan melibatkan satu atau lebih variabel dan literal.
Tipe-tipe operator :
1. Operator Aritmetka
2. Operator Assignment
3. Operator Pembanding
4. Operator Logika
5. Operator Membership

# Operator Aritmatika

Operator Aritmatika digunakan untuk melakukan operasi matematika yang umum.
Macam macam Operator Atmatika, yaitu :

(+) : penjumlahan

(-) : pengurangan

(*) : perkalian

(/) : pembagian

(%) : modulus

(**) : berpangkatan

(//) : pembagian dengan hasil pembulatanÂ flooring

**Contoh Penggunaan Operator Aritmatika**

In [ ]:
#penjumlahan
print ('penjumlahan')
print (2+2)
#pengurangan
print ('pengurangan')
print ('-'*20)
print (2-3)
#perkalian
print ('perkalian')
print ('-'*20)
print (2*3)
#pembagian
print ('pembagian')
print ('-'*20)
print (2/3)
#modulus
print ('modulus')
print ('-'*20)
print (3%2)
#perpangkatan
print ('perpangkatan')
print ('-'*20)
print (2**3)
#pembagian dengan hasil pembulatan flooring
print ('pembagian pembulatan flooring')
print ('-'*20)
print (3//2)

**Latihan Operator 1**

Buatlah Program penerapan operator Aritmatika dengan nilai - nilai yang berbeda dari contoh diatas

In [2]:
#penjumlahan
print ('penjumlahan')
print (10+4)
#pengurangan
print ('pengurangan')
print ('-'*20)
print (14-1)
#perkalian
print ('perkalian')
print ('-'*20)
print (10*10)
#pembagian
print ('pembagian')
print ('-'*20)
print (100/2)
#modulus
print ('modulus')
print ('-'*20)
print (10%5)
#perpangkatan
print ('perpangkatan')
print ('-'*20)
print (2**12)
#pembagian dengan hasil pembulatan flooring
print ('pembagian pembulatan flooring')
print ('-'*20)
print (100//15)

penjumlahan
14
pengurangan
--------------------
13
perkalian
--------------------
100
pembagian
--------------------
50.0
modulus
--------------------
0
perpangkatan
--------------------
4096
pembagian pembulatan flooring
--------------------
6

# Operator Assignment

Operator Assignment digunakan untuk menyimpan nilai menjadi suatu variabel

**Contoh Penggunaan Operator Assignment**

In [5]:
#Penjumlahan
print('Penjumlahan')
x=5
x=x+5
print(x)
x=5
x+=5
print(x)
print('-'*20)

#Pengurangan
print ('Pengurangan')
x=5
x=x-5
print(x)
x=5
x-=3
print(x)
print('-'*20)

#Perkalian
print('Perkalian')
x=5
x=x*5
print(x)
x=5
x*=3
print(x)
print('-'*20)

#Pembagian
print('pembagian')
x=5
x=x/5
print(x)
x=5
x/=3
print (x)
print('-'*20)

#Modulus
print('Modulus')
x=5
x=x%5
print(x)
x=5
x%=3
print(x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Flooring')
x=5
x=x//5
print(x)
x=5
x//=3
print(x)
print('-'*20)

#Perpangkatan
print('Perpangkatan')
x=5
x=x**5
print(x)
x=5
x**=3
print(x)
print('-'*20)

Penjumlahan
10
10
--------------------
Pengurangan
0
2
--------------------
Perkalian
25
15
--------------------
pembagian
1.0
1.6666666666666667
--------------------
Modulus
0
2
--------------------
Pembagian Flooring
1
1
--------------------
Perpangkatan
3125
125
--------------------

**Latihan Operator 2**

 Buatlah program penerapan operator assignment dengan nilai nilai yang berbeda dari contoh diatas

In [10]:
#Penjumlahan
print('Penjumlahan')
x=10
x=x+5
print(x)
x=100
x+=500
print(x)
print('-'*20)

#Pengurangan
print ('Pengurangan')
x=1000
x=x-999
print(x)
x=7
x-=6
print(x)
print('-'*20)

#Perkalian
print('Perkalian')
x=90
x=x*0
print(x)
x=8
x*=8
print(x)
print('-'*20)

#Pembagian
print('pembagian')
x=50
x=x/5
print(x)
x=15
x/=3
print (x)
print('-'*20)

#Modulus
print('Modulus')
x=15
x=x%8
print(x)
x=10
x%=9
print(x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Flooring')
x=2
x=x//6
print(x)
x=2
x//=2
print(x)
print('-'*20)

#Perpangkatan
print('Perpangkatan')
x=3
x=x**15
print(x)
x=3
x**=5
print(x)
print('-'*20)

Penjumlahan
15
600
--------------------
Pengurangan
1
1
--------------------
Perkalian
0
64
--------------------
pembagian
10.0
5.0
--------------------
Modulus
7
1
--------------------
Pembagian Flooring
0
1
--------------------
Perpangkatan
14348907
243
--------------------

# Operator Pembanding

Operator Pembanding digunakan untuk membandingkan 2 nilai atau variabel

Operator Pembanding digunakan untuk membandingkan 2 nilai atau variabel

In [11]:
print(2==2)
print(2!=2)
print(2>2)
print(2<2)
print(2>=2)
print(2<=2)

True
False
False
False
True
True

**Latihan Operator 3**

Buatlah program penerapan operator pembanding dengan nilai nilai yang berbeda dari contoh diatas

In [12]:
print(1==1)
print(3!=1)
print(3>4)
print(5<6)
print(3>=4)
print(3<=4)

True
True
False
True
False
True

# Operator Logika

Operator logika digunakan untuk mengkombinasikan statement statement kondisional
Macam macam opertaor logika:

and -> kondisi menjadi benar apabila semua statementnya benar

or -> kondisi menjadi benar apabila salah satu statementnya ada yang benar

not -> membalik hasil adri benar ke salah dan salah ke benar

**Contoh penggunaan operator logika**

In [13]:
print(True and False)
print(False or False)
print(not False and True)

False
False
True

**Latihan Operator 4**

Buatlah program penerapan operator logika dengan nilai nilai yang berbeda dari contoh diatas

In [14]:
print(True and True)
print(True or False)
print(not True and True)

True
True
False

# Operator Membership / Keanggotaan

Operator keanggotaan digunakan untuk menguji apakah urutan disajikan dalam suatu objek

Macam macam operator Keanggotaan :

in -> return True ketika nilai tertentu dalam sebuah urutan ada

not in > return True ketika nilai tertentu dalam sebuah uruta tidak ada

**Contoh penggunaan operator keanggotaan**

In [16]:
a=(1,2,3,4,5,6)
b=2
print(b in a)


print('-'*20)
a=(1,2,3,4,5,6)
b=7
print(b not in a)

True
--------------------
True

**Latihan Operator 5**

Buatlah program penerapan operator keanggotaan membership dengan nilai nilai yang berbeda dari contoh diatas

In [17]:
a=(1,2,3,4,5,6,7,8,9)
b=5
print(b in a)


print('-'*20)
a=(1,2,3,4,5,6,7,8,9)
b=3
print(b not in a)

True
--------------------
False

## Variabel


Variabel: Lokal penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.
Syarat syarat penamaan variabel

1. Karakter - karakter yang digunakan untuk penamaan variable adalah alphabet, angka dan underscore.
2. Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka

3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari bahasa python seperti for, if dan lainnya
4. Karakter pada nama variabel bersifat sensitif (case-sensitif)

In [43]:
# membuat variabel
kalimat ='ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

# menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel
4
2.5
True
(4+1j)

**Latihan 1**

buatlah 5 variabel kalian sendiri dengan 5 macam tipe data lalu tampilkan variabel menggunakan fungsi print

In [48]:
# membuat variabel
kalimat ='aku ganteng'
bilangan1 = 20 + 22j
bilangan2 = 14.4
bilangan3 = 2023
bilangan4 = True

# menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

aku ganteng
(20+22j)
14.4
2023
True

# Tipe Data & Konversi Tipe Data

**Tipe data**

5 tipe data yaitu

1. Integr atau bilangan bulat

2. Float atau bilangan desimal

3. string atau kalimat

4. Boolean yang terdiri dari True dan False

5. Complex yang merupakan bilangan kompleks

In [44]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

**Latihan 2**

cek tipe data variabel yang telah kalian buat pada latihan 1

In [49]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'complex'>
<class 'float'>
<class 'int'>
<class 'bool'>

# Konversi Tipe Data

In [23]:
# konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

# konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

# konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

# konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

# konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

2
1
4.0
1.0
4
2.5
True
True
True
(4+0j)
(2.5+0j)
(1+0j)

**Latihan 3**

konversi tipe data yang telah kalian buat menjadi berbagai macam tipe data

In [58]:
# konversi tipe data integer
print(int(bilangan3))
print(int(bilangan4))

# konversi tipe data float
print(float(bilangan2))
print(float(bilangan4))

# konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

# konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

# konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

2023
1
14.4
1.0
(20+22j)
14.4
2023
True
True
(20+22j)
(14.4+0j)
(2023+0j)