<a href="https://colab.research.google.com/github/ekyndr/PSDS-DASAR/blob/main/Perulangan_For_dan_while.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## looping/ perulangan

python menyediakan dua statement untuk melakukan proses perulangan yaitu for dan while. diantara kedua statement ini secara umum for lebih umum digunakan dari pada while

#for loop

**Example : Python for Loop**

In [ ]:
#program untuk menghitung jumlah semua angka dalam sebuah list
L1 = [2,4,5,7,9]
jumlah = 0

#literasi didalam list
for i in L1:
  jumlah = jumlah +i

print(jumlah)

27

# The range() function

In [ ]:
# program untuk melakukan interasi di dalam list melalui indeks
minuman = ["teh","boba","kopi","susu"]
p = len(minuman)

#interaksi didalam list melalui indeks
for i in range(p):
  print(minuman[i])

teh
boba
kopi
susu

# for loop with else

In [ ]:
#contoh for loop menggunakanan else
for i in range(p):
  print(minuman[i])
else:
  print('element sudah habis')

teh
boba
kopi
susu
element sudah habis

**latihan 1**

In [1]:
list_tagihan = [25000,50000,-80000,30000,-2000,100000]
o = len(list_tagihan)
total_tagihan = 0
for i in range(o):
  total_tagihan = total_tagihan + list_tagihan[i]
  print(list_tagihan[i])
else:
  print('total tagihan adalah:',total_tagihan)

25000
50000
-80000
30000
-2000
100000
total tagihan adalah: 123000

#while Loop

**Example : Python while Loop**

In [ ]:
# program untuk menjumlahkan semua
#bilangan asli hingga suku ke-n
#jum = 1+2+3+...+n
n = 10
jumlah = 0
i = 1
while i <= n:
  jumlah = jumlah + i
  i=i+1
else:
  print(jumlah)

55

# While Loop with else

In [ ]:
jum = 0
i = 1
while i <= n:
  jum = jum + i
  i=i+1
else:
  print(jum)

55

**latihan 2**

In [2]:
tagihan = [100000,80000,225000,500000,800000]
o = len(tagihan)
i = 0
total_tagihan = 0
while i < o:
  total_tagihan = total_tagihan + tagihan[i]
  print(tagihan[i])
  i = i+1
else:
  print('total tagihan adalah:',total_tagihan)

100000
80000
225000
500000
800000
total tagihan adalah: 1705000